<div layout-gt-sm="row" style="padding:15px;">
    <div layout="column" flex-gt-sm="25">
        <md-card ng-repeat="background in ChooseBackgroundVC.Backgrounds" ng-if="($index - 0) % 4 === 0">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-headline">{{background.Name}}</span>
                    <span class="md-subhead">Skill Proficiences: {{background.SkillProf}}</span>
                    <span class="md-subhead" ng-if="background.Languages">Languages: {{background.Languages}}</span>
                    <span class="md-subhead">Starting Gold: {{background.Gold}}</span>
                </md-card-header-text>
            </md-card-header>
            <div ng-if="background.IsShowMoreInfo">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title">More Info</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>{{background.Description}}</p>
                    <p class="md-title">Equipment</p>
                    <p>{{background.Equipment}}</p>
                </md-card-content>
            </div>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button md-primary" ng-click="background.IsShowMoreInfo = !background.IsShowMoreInfo">
                    <md-icon>info</md-icon>
                </md-button>
                <md-button class="md-raised md-primary" ng-click="ChooseBackgroundVC.ChooseBackground(background)">
                    Choose
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div layout="column" flex-gt-sm="25">
        <md-card ng-repeat="background in ChooseBackgroundVC.Backgrounds" ng-if="($index - 1) % 4 === 0">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-headline">{{background.Name}}</span>
                    <span class="md-subhead">Skill Proficiences: {{background.SkillProf}}</span>
                    <span class="md-subhead" ng-if="background.Languages">Languages: {{background.Languages}}</span>
                    <span class="md-subhead">Starting Gold: {{background.Gold}}</span>
                </md-card-header-text>
            </md-card-header>
            <div ng-if="background.IsShowMoreInfo">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title">More Info</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>{{background.Description}}</p>
                    <p class="md-title">Equipment</p>
                    <p>{{background.Equipment}}</p>
                </md-card-content>
            </div>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button md-primary" ng-click="background.IsShowMoreInfo = !background.IsShowMoreInfo">
                    <md-icon>info</md-icon>
                </md-button>
                <md-button class="md-raised md-primary" ng-click="ChooseBackgroundVC.ChooseBackground(background)">
                    Choose
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div layout="column" flex-gt-sm="25">
        <md-card ng-repeat="background in ChooseBackgroundVC.Backgrounds" ng-if="($index - 2) % 4 === 0">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-headline">{{background.Name}}</span>
                    <span class="md-subhead">Skill Proficiences: {{background.SkillProf}}</span>
                    <span class="md-subhead" ng-if="background.Languages">Languages: {{background.Languages}}</span>
                    <span class="md-subhead">Starting Gold: {{background.Gold}}</span>
                </md-card-header-text>
            </md-card-header>
            <div ng-if="background.IsShowMoreInfo">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title">More Info</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>{{background.Description}}</p>
                    <p class="md-title">Equipment</p>
                    <p>{{background.Equipment}}</p>
                </md-card-content>
            </div>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button md-primary" ng-click="background.IsShowMoreInfo = !background.IsShowMoreInfo">
                    <md-icon>info</md-icon>
                </md-button>
                <md-button class="md-raised md-primary" ng-click="ChooseBackgroundVC.ChooseBackground(background)">
                    Choose
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div layout="column" flex-gt-sm="25">
        <md-card ng-repeat="background in ChooseBackgroundVC.Backgrounds" ng-if="($index - 3) % 4 === 0">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-headline">{{background.Name}}</span>
                    <span class="md-subhead">Skill Proficiences: {{background.SkillProf}}</span>
                    <span class="md-subhead" ng-if="background.Languages">Languages: {{background.Languages}}</span>
                    <span class="md-subhead">Starting Gold: {{background.Gold}}</span>
                </md-card-header-text>
            </md-card-header>
            <div ng-if="background.IsShowMoreInfo">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title">More Info</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>{{background.Description}}</p>
                    <p class="md-title">Equipment</p>
                    <p>{{background.Equipment}}</p>
                </md-card-content>
            </div>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button md-primary" ng-click="background.IsShowMoreInfo = !background.IsShowMoreInfo">
                    <md-icon>info</md-icon>
                </md-button>
                <md-button class="md-raised md-primary" ng-click="ChooseBackgroundVC.ChooseBackground(background)">
                    Choose
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>