<md-button ng-click="CharactersVC.AddCharacter()" class="md-fab md-primary md-raised" style="position:fixed; bottom:0px; right:15px;">  
    <md-icon>add</md-icon>
</md-button>
<div layout-gt-sm="row" style="padding:15px;">
    <div layout="column" flex-gt-sm="25">
        <md-card ng-repeat="character in CharactersVC.Characters" ng-if="($index - 0) % 4 === 0" >
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">{{character.Name}}</span>
                    <span class="md-subhead">{{character.ClassName}} - {{character.RaceName}}</span>
                </md-card-header-text>
            </md-card-header>
            <img ng-src="{{character.ClassImage}}" class="md-card-image" alt="Class Image">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Biography</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>{{character.Biography}}</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button md-primary">
                    <md-icon>play_circle_filled</md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary">
                    <md-icon>edit</md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary">
                    <md-icon>share</md-icon>
                </md-button>
                <md-button class="md-icon-button md-warn">
                    <md-icon>delete</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div layout="column" flex-gt-sm="25">
        <md-card ng-repeat="character in CharactersVC.Characters" ng-if="($index - 1) % 4 === 0">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">{{character.Name}}</span>
                    <span class="md-subhead">{{character.ClassName}} - {{character.RaceName}}</span>
                </md-card-header-text>
            </md-card-header>
            <img ng-src="{{character.ClassImage}}" class="md-card-image" alt="Class Image">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Biography</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>{{character.Biography}}</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button md-primary">
                    <md-icon>play_circle_filled</md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary">
                    <md-icon>edit</md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary">
                    <md-icon>share</md-icon>
                </md-button>
                <md-button class="md-icon-button md-warn">
                    <md-icon>delete</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div layout="column" flex-gt-sm="25">
        <md-card ng-repeat="character in CharactersVC.Characters" ng-if="($index - 2) % 4 === 0">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">{{character.Name}}</span>
                    <span class="md-subhead">{{character.ClassName}} - {{character.RaceName}}</span>
                </md-card-header-text>
            </md-card-header>
            <img ng-src="{{character.ClassImage}}" class="md-card-image" alt="Class Image">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Biography</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>{{character.Biography}}</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button md-primary">
                    <md-icon>play_circle_filled</md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary">
                    <md-icon>edit</md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary">
                    <md-icon>share</md-icon>
                </md-button>
                <md-button class="md-icon-button md-warn">
                    <md-icon>delete</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div layout="column" flex-gt-sm="25">
        <md-card ng-repeat="character in CharactersVC.Characters" ng-if="($index - 3) % 4 === 0">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">{{character.Name}}</span>
                    <span class="md-subhead">{{character.ClassName}} - {{character.RaceName}}</span>
                </md-card-header-text>
            </md-card-header>
            <img ng-src="{{character.ClassImage}}" class="md-card-image" alt="Class Image">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Biography</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>{{character.Biography}}</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button md-primary">
                    <md-icon>play_circle_filled</md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary">
                    <md-icon>edit</md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary">
                    <md-icon>share</md-icon>
                </md-button>
                <md-button class="md-icon-button md-warn">
                    <md-icon>delete</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>