<md-card layout="column" style="padding:15px;">
    <p>Time to collect some base info for your character! If you aren't sure, don't worry, you can change it later!</p>
    <md-input-container>
        <label>Character Name</label>
        <input type="text" ng-model="CharacterStartVC.CharacterInfo.Name" ng-change="CharacterStartVC.UpdateName(CharacterStartVC.CharacterInfo.Name)" ng-model-options="{ debounce: 250 }">
    </md-input-container>
    <div layout="row" layout-align="start center">
        <md-input-container flex-gt-sm="10">
            <label>Strength</label>
            <input type="number" ng-model="CharacterStartVC.CharacterInfo.STR">
        </md-input-container>
        <md-button class="md-icon-button md-primary md-raised" ng-click="CharacterStartVC.Roll('STR')">
            <md-tooltip md-direction="top">Randomize Strength</md-tooltip>
            <md-icon>casino</md-icon>
        </md-button>
    </div>
    <div layout="row" layout-align="start center">
        <md-input-container flex-gt-sm="10">
            <label>Dexterity</label>
            <input type="number" ng-model="CharacterStartVC.CharacterInfo.DEX">
        </md-input-container>
        <md-button class="md-icon-button md-primary md-raised" ng-click="CharacterStartVC.Roll('DEX')">
            <md-tooltip md-direction="top">Randomize Dexterity</md-tooltip>
            <md-icon>casino</md-icon>
        </md-button>
    </div>
    <div layout="row" layout-align="start center">
        <md-input-container flex-gt-sm="10">
            <label>Constitution</label>
            <input type="number" ng-model="CharacterStartVC.CharacterInfo.CON">
        </md-input-container>
        <md-button class="md-icon-button md-primary md-raised" ng-click="CharacterStartVC.Roll('CON')">
            <md-tooltip md-direction="top">Randomize Constitution</md-tooltip>
            <md-icon>casino</md-icon>
        </md-button>
    </div>
    <div layout="row" layout-align="start center">
        <md-input-container flex-gt-sm="10">
            <label>Wisdom</label>
            <input type="number" ng-model="CharacterStartVC.CharacterInfo.WIS">
        </md-input-container>
        <md-button class="md-icon-button md-primary md-raised" ng-click="CharacterStartVC.Roll('WIS')">
            <md-tooltip md-direction="top">Randomize Wisdom</md-tooltip>
            <md-icon>casino</md-icon>
        </md-button>
    </div>
    <div layout="row" layout-align="start center">
        <md-input-container flex-gt-sm="10">
            <label>Intelligence</label>
            <input type="number" ng-model="CharacterStartVC.CharacterInfo.INT">
        </md-input-container>
        <md-button class="md-icon-button md-primary md-raised" ng-click="CharacterStartVC.Roll('INT')">
            <md-tooltip md-direction="top">Randomize Intelligence</md-tooltip>
            <md-icon>casino</md-icon>
        </md-button>
    </div>
    <div layout="row" layout-align="start center">
        <md-input-container flex-gt-sm="10">
            <label>Charisma</label>
            <input type="number" ng-model="CharacterStartVC.CharacterInfo.CHA">
        </md-input-container>
        <md-button class="md-icon-button md-primary md-raised" ng-click="CharacterStartVC.Roll('CHA')">
            <md-tooltip md-direction="top">Randomize Charisma</md-tooltip>
            <md-icon>casino</md-icon>
        </md-button>
    </div>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-primary md-raised" ng-click="CharacterStartVC.Next()" ng-disabled="!CharacterStartVC.CharacterInfo.Name">
            Next
        </md-button>
    </md-card-actions>
</md-card>